{% extends 'base.html' %}
{% load temptag %}
{% block title %}Homepage{% endblock %}

{% block content %}

    <h2>Baza książek</h2>
    <h3>Formularz wyszukiwania</h3>
    <form method="GET">
        {{ form.as_table }}
        <input type="submit" value="Wyszukaj">
    </form>
    <table class="table">
        <thead>
            <tr>
                <td>Tytuł</td>
                <td>Autor</td>
                <td>Numer ISBN</td>
                <td>Data publikacji</td>
                <td>Liczba stron</td>
                <td>Okładka (link)</td>
                <td>Język książki</td>
                <td>Akcje</td>
            </tr>
        </thead>
        <tbody>
        {% for book in book_list %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.publication_date }}</td>
                <td>{{ book.page_num }}</td>
                <td><a href="{{ book.link_to_cover }}">link</a></td>
                <td>{{ book.book_language }}</td>
                <td><a href="{% url 'book-edit' pk=book.id %}">Edytuj wpis</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="book-list/?{% paginate_url 'page' page_obj.previous_page_number request.GET.urlencode %}">
                        Poprzednia
                    </a>
                {% endif %}
                <span class="page-current">
                    Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="book-list/?{% paginate_url 'page' page_obj.next_page_number request.GET.urlencode %}">
                        Następna
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}